.order-page {
  color: #333;
  margin-top: 100px;
  padding: 20px;

  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #f9f9f9;
    border: 2px dashed #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
  
    .icon {
      font-size: 48px;
      color: #ff9800;
      margin-bottom: 20px;
    }
  
    h3 {
      font-size: 2em;
      color: #333;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1.2em;
      color: #666;
      margin-bottom: 20px;
    }
  
    .go-to-shop-button {
      background-color: #ff9800;
      color: #fff;
      padding: 10px 20px;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #e67e00;
      }
    }
  }
  
  .products-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .order-product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    .go-to-product{
      position: absolute;
      top: 5px;
      right: 10px;
      text-decoration: none;
      color: gray;
      font-size: 10px;
    }

    .product-image img {
      width: 100px;
      border-radius: 8px;
    }

    .product-details {
      flex-grow: 1;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .product-name {
        font-size: 1.2em;
        font-weight: bold;
      }

      .product-price {
        display: flex;
        gap: 10px;
        
        .old-price {
          text-decoration: line-through;
          color: #999;
        }

        .new-price {
          color: #FF4500; /* İndirimli fiyat */
          font-weight: bold;
        }
      }
      
      .product-actions {
        display: flex;
        gap: 10px;

        button {
          background-color: #000; /* Siyah buton */
          border: none;
          color: #fff;
          padding: 5px 10px;
          cursor: pointer;
          border-radius: 5px;
          transition: background-color 0.3s ease;
          &:disabled{
            background-color: gray !important;
            cursor: not-allowed;
          }
          &:hover {
            background-color: #333;
          }
        }

        .quantity {
          font-size: 1.1em;
          font-weight: bold;
        }
      }
    }
  }

  .order-summary-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    .total {
      display: flex;
      justify-content: space-between;
      font-size: 1.5em;
      font-weight: bold;
    }

    .confirm-order-button {
      width: 100%;
      padding: 10px;
      background-color: #000; /* Ana renk siyah buton */
      border: none;
      border-radius: 5px;
      font-size: 1.2em;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #333; /* Buton hover */
      }
    }
  }
}
