.container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  
  .campaign {
    background-color: black;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    color: white;
    animation: blink 1s infinite;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @keyframes blink {
      0% { font-size: 16px; }
      50% { font-size: 14px; }
      100% { font-size: 16px; }
    }
  }

  .mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    background-color: #fff;
    padding: 0 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 70px;

    @media screen and (max-width: 768px) {
      padding: 0 20px;
      height: 50px;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 24px;
      font-family: "Edu AU VIC WA NT Hand", cursive;
      font-weight: bold;
      color: #333;
      text-decoration: none;

      &:hover {
        color: #666;
      }

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    .searchBar {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      .searchInput {
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        width: 600px;
        transition: all 0.3s ease;
        background-color: rgb(233, 232, 232);
        outline: none;

        @media screen and (max-width: 768px) {
          width: 100%;
          width: 70vw;
        }
      }

      button {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
      }
      .searchButton{
        background-color: white;
        position: absolute;
        right: 0;
        height: 100%;
        padding: 5px 10px;
        border-radius: 0 4px 4px 0;
        border: 1px solid black;
        border-left: none;
      }
      .closeButton{
        position: absolute;
        right: -30px;
      }
    }

    .searchButton {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 15px;
    }

    .headerRight {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      .loginButton{
        color: black;
        text-decoration: none;
        margin-right: 5px;
        border: 1px solid black;
        padding: 4px 8px;
        border-radius: 5px;
      }
    }
  }
}
