@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.footer {
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-top: auto;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .logo {
      flex: 1 1 100%;
      text-align: center;
      margin-bottom: 20px;

      h1 {
        font-size: 24px;
        margin: 0;
      }
    }

    .content {
      display: flex;
      flex: 1 1 100%;
      justify-content: space-between;
      flex-wrap: wrap;

      .contentGroup {
        flex: 1 1 200px;
        margin-bottom: 20px;

        h2 {
          font-size: 18px;
          margin-bottom: 10px;
          border-bottom: 1px solid #fff;
          padding-bottom: 5px;
        }

        .contentItems {
          display: flex;
          flex-direction: column;

          .contentItem {
            color: #fff;
            text-decoration: none;
            margin: 5px 0;
            transition: color 0.3s;

            &:hover {
              color: #ff9800;
            }
          }
        }
      }

      .socialMediaIcons {
        display: flex;
        justify-content: center;
        flex: 1 1 100%;

        a {
          color: #fff;
          font-size: 24px;
          margin: 0 10px;
          transition: color 0.3s;

          &:hover {
            color: #ff9800;
          }
        }
      }

      .creditCards {
        display: flex;
        justify-content: center;
        flex: 1 1 100%;
        img{
          background-color: white;
          padding: 2px 4px;
          border-radius: 5px;
        }
      }
    }
  }

  .bottomBar {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    background-color: black;
    padding: 10px 0;
  }
}
